<div class='container'>
	<h1><%= button_to "< Back to Records", lvd_employee_area77_path, class: "sec_back", method: :get %></h1>
	<div class='well well_top blue_back ptop'>
		<%= @secpat.first_name %>
		<%= @secpat.middle_initial %>
		<%= @secpat.last_name %>
	</div>
	<div class="pshow well">
		<h1>Patient Info</h1>
		
		<% for attribute in @sec_patient_info_attributes %>
			<% if !@removed_attributes.include?(attribute[0]) %>	
			<%= attribute[0] %>: <%= attribute[1] %>
			<br>
			<% end %>
		<% end %>

			<% for attribute in @sec_dental_insurance_attributes %>
			<% if !@removed_attributes.include?(attribute[0]) %>	
			<%= attribute[0] %>: <%= attribute[1] %>
			<br>
			<% end %>
		<% end %>

			<% for attribute in @sec_dental_history_attributes %>
			<% if !@removed_attributes.include?(attribute[0]) %>	
			<%= attribute[0] %>: <%= attribute[1] %>
			<br>
			<% end %>
		<% end %>

	</div>
</div>
<style>
	.ptop {font-size: 2em;}
	.pshow {color: black;}
	.sec_back {color: blue;}
</style>