<!-- Main jumbotron for a primary marketing message or call to action -->

  <%= render 'layouts/header' %>

    <div class="jumbotron" id="jmbotron">
      <div class="container">
   

      </div>
    </div>

    <div class="container">
 
        <!-- column 1 -->
        <%= link_to about_path do %>
          <%= render 'shared/services_card' %>
       <% end %>


       <%= link_to patient_record_path do %>
        <!-- column 2 -->
          <%= render 'shared/appointment_card' %>
       <% end %>
        

       <!-- column 3 -->
       <%= link_to location_path do %>
          <%= render 'shared/location_card' %>
        <% end %>
      

  

      
    </div> <!-- /container -->



    
    