
<address class="extra_info well blue_back text-center">
Phone and Fax: (954) 752-7874<br>
Open: Monday - Thursday from 9am - 5pm
</address>
	
  <div class="bcontainer">
  
  <!-- Services card for larger screens -->      
  <%= link_to services_path, class: "small_device_hidden" do %>
    <%= render 'shared/services_card' %>
  <% end %>

  <%= render 'shared/gmaps_card' %>

  <%= link_to patient_record_path do %>
   <%= render 'shared/appointment_card' %>
  <% end %>

  <!-- Services card for smaller screens -->
  <%= link_to services_path, class: "small_device_shown" do %>
   <%= render 'shared/services_card' %>
  <% end %>

</div>
<style>body {margin: 0;}</style>