<div class="container margin_vertical_60px form formy2">
<div class="well blue_back well_top text-center", id="formtop1"><h3 id="patient_info_topper">Patient Info</h3></div>
<div class="text-center text_black well well_body" id="hide_me2 form_two">

	<%= bootstrap_form_for @current_patient.build_patient_info(patient_id: @current_patient.id), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", id: 'second_form', remote: true do |f| %>

			<%= hidden_field_tag :current_patient_id, @current_patient.id %>

			<%= f.text_field :address %>
			<%= f.text_field :email %>
			<%= f.text_field :city %>
			<%= f.text_field :state %>
			<%= f.number_field :zipcode %>
			
			
			<%= f.radio_button :sex, false, label: "Male", inline: true %>
			<%= f.radio_button :sex, true, label: "Female", inline: true, checked: true %>
			<br>
			<br>
	
			<%= f.date_field :birthdate %>
			<%= f.text_field :relationship_status %>
			
			<%= f.text_field :employer_or_school %>
			<%= f.text_field :occupation %>
			<%= f.text_field :employer_or_school_address %>
			<%= f.text_field :employer_or_school_phone %>

			<%= f.text_field :spouse_name %>
			<%= f.date_field :spouse_birthdate %>
			<%= f.number_field :spouse_ss %>
			<%= f.text_field :spouse_employer %>

			<%= f.text_field :referrer %>

			<%= f.submit "Add Patient Info" %>
			<% end %>

</div>
<div id="pipe2" class="blue_back center-block"></div>
</div>
<h1 id="after_second">Second Form</h1>