<div class="container margin_vertical_60px form">
<div class="text-center text_black well" id="hide_me">
<h1>New Patient Form goes here</h1>

<%= form_for @patient, id: 'first_form', remote: true do |f| %>
	<%= f.label :first_name, class: "label" %> 
	<%= f.text_field :first_name, class: "field"  %><br>
	
	<%= f.label :middle_initial, class: "label" %>
	<%= f.text_field :middle_initial, class: "field" %><br>
	
	<%= f.label :last_name %>
	<%= f.text_field :last_name %><br>

	<%= f.submit "Create Patient Account", class: "submit_button" %>
<% end %>			


</div>
	<h1 id="after_first">Second Form</h1>
</div>