<div class="container margin_vertical_60px form">
<div class="well blue_back well_top text-center", id="formtop1"><h3>New Patient</h3></div>
<div class="text-center text_black well well_body" id="hide_me">


<%= bootstrap_form_for @patient, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", id: 'first_form', remote: true do |f| %>
	 
	<%= f.text_field :first_name %>
	
	
	<%= f.text_field :middle_initial%>
	
	<%= f.text_field :last_name %>

	<%= f.submit "Create Patient Account" %>
<% end %>			


</div>
	<div id="pipe1" class="pipe blue_back center-block"></div>
</div>
	<span id="after_first"></span>

	<style>footer {display: none;}</style>